<%- include('templates/header') -%>
<div class="jumbotron">
    <h1>Lab 6: Solar System</h1>
</div>
<a href="/mercury">Mercury</a>
<a href="/venus">Venus</a>
<a href="/earth">Earth</a>
<a href="/mars">Mars</a>
<a href="/jupiter">Jupiter</a>
<br><br><br>
<div><img src="solar-system.jpg"></div>
<%- include('templates/footer') -%>