</div>
<div class="footer">
    2020&copy; Keiti Lo <br>
    CST 336: Internet Programming || Lab 6: Solar System<br>
    Source: 
    <a href="https://en.wikipedia.org/wiki/Mercury_(planet)">mercury</a>
    <a href="https://en.wikipedia.org/wiki/Venus">venus</a>
    <a href="https://en.wikipedia.org/wiki/Earth">earth</a>
    <a href="https://en.wikipedia.org/wiki/Mars">mars</a>
    <a href="https://en.wikipedia.org/wiki/Jupiter">jupiter</a>
</div>
</body>
</html>